body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #E30B5D;
}

a.loginbutton {
  font-size: 40pt;
}
div#command {
  text-align: right;
}

div#container {
  text-align: center;
}

a.button {
  display: inline-block;
  border: 1px solid #E30B5D;
  color: #E30B5D;
  font-size: 40pt;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-decoration: none;
}

